*{
    font-family: 'Exo', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #8ed2c9;
}

.inputs {
    width: 90%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 5px;
}

.labels {
    font-weight: 600;
  
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

#survey-form {
    background-color: #00aaa0;
    text-align: center;
    width: 30rem;
    margin: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 3%;
}