*{
    font-family: 'Exo', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 50,100, 0.2);
}

label{
    text-align: left;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

#survey-form {
    background-color: #8ed2c9;
    text-align: center;
    width: 30rem;
    margin: auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 3%;
}